body{
    font-family: "Roboto", sans-serif;
    background-color: #ffff;
    color: #434455;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
ul{
   list-style: none; 
}
a{
    text-decoration: none;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); ;
}

.container{
    padding: 0 15px 0 15px;
    width: 1158px;
    margin: 0 auto;
}
.container-head{
    display: flex;
}
.nav {
    align-items: center; 
    display: flex;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.studio{
    color: #2e2f42;
}
.nav-menu {
    gap: 40px;
    display: flex;
    
}
.nav-link{
    color: #2e2f42;
    display: block;
    padding: 24px 0 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.nav-link.main{
    color: #404bbf;
}
.nav-link.main::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-links:focus{
    color: #404bbf;
}
.address{
    display: block;
    gap: 40px;
    margin-left: auto;
}
.ul-contacts {
    align-items: center; 
    gap: 40px;
    display: flex;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-style: normal;
}
.contact-link{
    display: block;
    color: #2e2f42;
    font-weight: 400;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ul-contacts li:last-child {
    margin-right: 0;
}
.contact-link:hover{
    color:#404bbf
}
.contact-link:focus{
    color: #404bbf;
}
.business{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:  #ffffff;
    max-width: 496px;
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 68.16px;
}
.button{
    display: block;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    min-width: 169px;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
.section_one{
    padding: 188px 0 188px;
    background-color: #2e2f42;
    height: 590px;
    background-image: linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.7), 
	rgba(46, 47, 66, 0.7)
	),
	url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.section_two{
    padding: 120px 0 120px;
}

.visually-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
.list {
    display: flex;
    gap: 24px;
    list-style-type: none;
    padding: 0;
}
.item{
    flex: 1;
}
.section_three{
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}
.strategy{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our_goal{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    border-radius: 0px 0px 4px 4px;
}
.section_three{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our_team{
    margin-bottom: 72px;
}
.team {
    display: flex;
    gap: 24px;
}
.list-team{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.employee-info {
    padding: 32px 0 32px;
}
.employee-name {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.employee-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon-list-item{
    width: 40px;
    height: 40px;
}
.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
    fill: #f4f4fd;
}
.icon-link:hover{
    background-color: #404bbf;
}
.icon-link:focus{
    background-color: #404bbf;
}
.icon-bg{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team_two{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer{
    background-color: #2e2f42;
}
.last{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.section_four{
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}
.portfolio-box{
    position: relative;
    overflow: hidden;
}
.portfolop-box-text{
    background-color: #4d5ae5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 360px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
}
.portfolio_item:hover .portfolop-box-text{
    transform: translateY(0);
}
.our_portfolio {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio_item {
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.portfolio_item:hover{
    box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.app_info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app_title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
.app_category{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.portfolio_item:nth-child(3n) {
    margin-right: 0;
}
.portfolio_item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer-cont {
    margin-right: 120px;
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
  }
  .footer-logo-span {
    color: #f4f4fd;
  }
  .footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
  .footer-social-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .footer-social-item {
    width: 40px;
    height: 40px;
  }
  .footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-link:hover {
    background-color: #31d0aa;
  }
  .footer-social-link:focus {
    background-color: #31d0aa;
  }
  .footer-social-svg {
    fill: #f4f4fd;
  }