body{
    font-family: "Roboto", sans-serif;
    background-color: #ffff;
    color: #434455;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
ul{
   list-style: none; 
}
a{
    text-decoration: none;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.container{
    padding: 0 15px 0 15px;
    width: 1158px;
    margin: 0 auto;
}
.container-head{
    display: flex;
}
.nav {
    align-items: center; 
    display: flex;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.web{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.studio{
    color: #2e2f42;
}
.nav-menu {
    gap: 40px;
    display: flex;
    
}
.nav-link{
    color: #2e2f42;
    display: block;
    padding: 24px 0 24px;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-links:focus{
    color: #404bbf;
}
.address{
    display: block;
    gap: 40px;
    margin-left: auto;
}
.ul-contacts {
    align-items: center; 
    gap: 40px;
    display: flex;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-style: normal;
}
.contact-link{
    display: block;
    color: #2e2f42;
    font-weight: 400;
    padding: 24px 0 24px;
}
.ul-contacts li:last-child {
    margin-right: 0;
}
.contact-link:hover{
    color:#404bbf
}
.contact-link:focus{
    color: #404bbf;
}
.business{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:  #ffffff;
    max-width: 496px;
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 68.16px;
}
.button{
    display: block;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    min-width: 169px;
    border-radius: 4px;
    margin: 0 auto;
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
.section_one{
    padding: 188px 0 188px;
    background-color: #2e2f42;
    height: 590px;
}
.section_two{
    padding: 120px 0 120px;
}
.visually-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
.list {
    display: flex;
    gap: 24px;
    list-style-type: none;
    padding: 0;
}
.item{
    flex: 1;
}
.section_three{
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}
.strategy{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our_goal{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    border-radius: 0px 0px 4px 4px;
}
.section_three{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our_team{
    margin-bottom: 72px;
}
.team {
    display: flex;
    gap: 24px;
}
.list-team{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.employee-info {
    padding: 32px 0 32px;
}
.employee-name {
    text-align: center;
    margin-bottom: 8px;
}
.employee-role {
    text-align: center;
}
.our_team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team_two{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer{
    background-color: #2e2f42;
}
.last{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.section_four{
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}
.our_portfolio {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio_item {
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
}
.app_info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app_title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
.app_category{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.portfolio_item:nth-child(3n) {
    margin-right: 0;
}
.portfolio_item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.footer{
    padding: 100px 0;
}
.footer_link{
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: Raleway;
}
.studio_two{
    color: #f4f4fd;
}
.footer_paragraph{
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd
}